<div class="container">
  <h1 class="display-4">Welcome to Express Portfolio Website</h1>
  <h3>
    Choose a job you love, and you will never have to work a day in your life
  </h3>
  <i
    >“Intelligent people need a fool to lead them. When the team's all a bunch
    of scientists, it is best to have a peasant lead the way. His way of
    thinking is different. It's easier to win if you have people seeing things
    from different perspectives."</i
  >
  <h1></h1>
  <a class="btn btn-primary" href="/about" role="button">About Me</a>
</div>
