<h1 class="display-4">Here are some of my projects</h1>
<h4></h4>
<h4><b>Project 1: Car Parking</b></h4>
<p>
  We had developed a web application where a customer can login to an account
  and than book a parking spot before reaching the parking lot. This would avoid
  the hassels of the user as the parking spot entrance woud be busy
</p>
<img src="/assets/s1.png" />
<p></p>
<h4></h4>
<h4><b>Project 2: Online Food Ordering with Swagger</b></h4>
<p>
  we had developed a online food ordering website using swagger and a user can
  make a request for food ordering, delete a request or update the order. Thus
  we implementedd CRUD technologies
</p>
<img src="/assets/s2.png" />
<a></a><a></a><a></a><a></a>
<h4></h4>
<h4><b>Project 3: Easy Books</b></h4>
<p>
  Here we developed and Android App where the users could easily sell and buy
  the books. the seller would keep images of the website and the buyer would see
  the images and would buy the book if he wants. The buyer would buy thye book
  at half the original price.
</p>
<img src="/assets/s3.PNG" />
<h4></h4>
