<div class="container">
  <h1 class="display4">
    <b>These are the Technologies with which i worked on</b>
  </h1>
  <h4></h4>
  <table style="width:100%">
    <tr>
      <th>texhnologies</th>
      <th>Images</th>
    </tr>
    <tr>
      <td>C#</td>
      <td><img src="/assets/ser1c.png" width="60" heigth="60" /></td>
    </tr>
    <tr>
      <td>Python</td>
      <td><img src="/assets/ser2p.png" width="60" heigth="60" /></td>
    </tr>
    <tr>
      <td>NodeJs</td>
      <td><img src="/assets/ser3n.png" width="60" heigth="60" /></td>
    </tr>
    <tr>
      <td>ExpressJS</td>
      <td><img src="/assets/ser4e.png" width="60" heigth="60" /></td>
    </tr>
    <tr>
      <td>MongoDb</td>
      <td><img src="/assets/ser5m.png" width="60" heigth="60" /></td>
    </tr>
  </table>
</div>
